[submodule "components/tinyusb"]
	path = components/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "components/lv_port_esp32"]
	path = components/lv_port_esp32
	url = https://github.com/lvgl/lv_port_esp32
[submodule "components/inih"]
	path = components/inih
	url = https://github.com/benhoyt/inih
[submodule "components/Adafruit_TinyUSB_ArduinoCore"]
	path = components/Adafruit_TinyUSB_ArduinoCore
	url = git@github.com:cmumford/Adafruit_TinyUSB_ArduinoCore.git
[submodule "components/Adafruit_TinyUSB_Arduino"]
	path = components/Adafruit_TinyUSB_Arduino
	url = https://github.com/cmumford/Adafruit_TinyUSB_Arduino
