*.swp
build/
.vscode/
.DS_Store
workspace.code-workspace

# sdkconfig.defaults is committed.
sdkconfig
sdkconfig.old

# KiCad files to ignore
*-bak
*-cache.lib
*.bck
*.net
*.sch-bak
*.swp
_autosave-*
fp-info-cache
