CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_keyboard.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_keyboard.csv"

CONFIG_LV_DISP_SPI_MOSI=11
CONFIG_LV_DISP_SPI_CLK=12
CONFIG_LV_DISP_SPI_CS=38
CONFIG_LV_DISP_PIN_DC=34
CONFIG_LV_DISP_PIN_RST=37

# Required for TinyUSB
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y